<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="cn_biblioteca" connectionString="Data Source=.; Initial Catalog=bd_biblioteca; User ID=sa; Password=123456;" />
  <add name="pry_presentacion.Properties.Settings.bd_bibliotecaConnectionString"
   connectionString="Data Source=.;Initial Catalog=bd_biblioteca;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>